@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

body {
  font-family: sans-serif;
}

#chart {
    /*height: 587px;*/
}

.dot {
  fill: #230636;
  opacity: 0.3;
  stroke-width: 0;
}


.axis line,
.axis path {
  stroke: black;
  stroke-width: 1px;
  fill: none;
  shape-rendering: crispEdges;
}

.axis text {
    font-size: 1.05em;
}

.label {
  font-size: small;
  font-weight: 600;
}

.hidden {
    display: none;
}

.not-hidden {
    display: block;
}

.hilite {
    opacity: 0.8;
    fill: #d718c4;
    stroke: #d718c4;
    z-index: 1000;
}

.not-hilite {
  fill: #230636;
  opacity: 0.3;
  stroke-width: 0;
}

.label-container {
    padding: 10px 20px 0 12px;
}

.dot-tooltip {
    color: #333;
    font-size: 0.8em;
    pointer-events: none;
    float: right;
    text-align: right;
}

.indic-label {
    font-weight: bold;
    color: black;
    display: inline;
    float: left;
}

.zoom-button {
    font-size: 0.8em;
    width: 60px;
    float: right;
}

.tool-label {
    font-weight: 600;
}

.polygon {
    stroke: #666;
    stroke-width: 1px;
    opacity: 0.8;
}

.map-hover {
    opacity: 1.0;
    stroke: black;
    stroke-width: 2px;
    z-index: 1000;
}

.swatch {
    stroke: #ddd;
    stroke-width: 1px;
}

.legendQuant text.label {
    font-size: 0.7em;
    font-weight: normal;
}

.panel-heading {
    padding: 4px 12px 4px 12px;
}

#datatable tbody {

}

#datatable th, td {
    font-size: 0.85em;
}

#datatable th {
    font-weight: 500;
    background-color: #e2e9f3;
}

#datatable tbody tr:hover td {
    background-color: rgb(203, 201, 226);
}

table.tablesorter tbody tr.odd td {
    background-color: #F9F9FF;
}

.table>thead>tr>th {
    border-bottom-color: #b8c9e2;
}

.tablesorter-bootstrap .tablesorter-header {
    /*font-size: 0.85em !important;*/
    /*font-weight: 500 !important;*/
}

.source {
    font-weight: 400;
    font-size: 0.9em;
}





/* REQUIRED CSS: change your reflow breakpoint here (35em below) */
@media ( max-width: 35em ) {

  /* uncomment out the line below if you don't want the sortable headers to show */
  /* table.ui-table-reflow thead { display: none; } */

  /* css for reflow & reflow2 widgets */
  .ui-table-reflow td,
  .ui-table-reflow th {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    /* if not using the stickyHeaders widget (not the css3 version)
     * the "!important" flag, and "height: auto" can be removed */
    width: 100% !important;
    height: auto !important;
  }

  /* reflow widget only */
  .ui-table-reflow tbody td[data-title]:before {
    color: #469;
    font-size: .9em;
    content: attr(data-title);
    float: left;
    width: 50%;
    white-space: pre-wrap;
    text-align: bottom;
    display: inline-block;
  }

  /* reflow2 widget only */
  /*table.ui-table-reflow .ui-table-cell-label.ui-table-cell-label-top {
    display: block;
    padding: .4em 0;
    margin: .4em 0;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 400;
  }*/
  /*table.ui-table-reflow .ui-table-cell-label {
    padding: .4em;
    min-width: 30%;
    display: inline-block;
    margin: -.4em 1em -.4em -.4em;
  }*/

} /* end media query */

/* reflow2 widget */
/*.ui-table-reflow .ui-table-cell-label {
  display: none;
}*/
