body {
  font-family: sans-serif;
}

#chart {
    /*height: 587px;*/
}

.dot {
  fill: #230636;
  opacity: 0.3;
  stroke-width: 0;
}


.axis line,
.axis path {
  stroke: black;
  stroke-width: 1px;
  fill: none;
  shape-rendering: crispEdges;
}

.axis text {
    font-size: 1.05em;
}

.label {
  font-size: small;
  font-weight: 600;
}

.hidden {
    display: none;
}

.not-hidden {
    display: block;
}

.hilite {
    opacity: 0.8;
    fill: #d718c4;
    stroke: #d718c4;
    z-index: 1000;
}

.not-hilite {
  fill: #230636;
  opacity: 0.3;
  stroke-width: 0;
}

.label-container {
    padding: 10px 20px 0 12px;
}

.dot-tooltip {
    color: #333;
    font-size: 0.8em;
    pointer-events: none;
    float: right;
    text-align: right;
}

.indic-label {
    font-weight: bold;
    color: black;
    display: inline;
    float: left;
}

.zoom-button {
    font-size: 0.8em;
    width: 60px;
    float: right;
}

.tool-label {
    font-weight: 600;
}

.polygon {
    stroke: #666;
    stroke-width: 1px;
    opacity: 0.8;
}

.map-hover {
    opacity: 1.0;
    stroke: black;
    stroke-width: 2px;
    z-index: 1000;
}

.swatch {
    stroke: #ddd;
    stroke-width: 1px;
}

.legendQuant text.label {
    font-size: 0.7em;
    font-weight: normal;
}

.panel-heading {
    padding: 4px 12px 4px 12px;
}

#datatable tbody {
    /*display: block;*/
    overflow: auto;
}

#datatable th, td {
    font-size: 0.85em;
}

#datatable th {
    font-weight: 500;
}

#datatable tbody tr:hover td {
    background-color: rgb(203, 201, 226);
}

.tablesorter-bootstrap .tablesorter-header {
    font-size: 0.85em !important;
    font-weight: 500 !important;
}

.source {
    font-weight: 400;
    font-size: 0.9em;
}
